<div
  class="container-fluid"
  style="
    background-image: url('./assets/images/company-intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div class="container">
    <div class="row">
      <h3 class="py-3">WE Center.恆慧中心</h3>
    </div>
    <div class="row py-5">
      <div class="col-12 col-lg-4 mb-5">
        <div class="image-container mx-auto" style="background-color: rgba(233, 148, 50, 0.7)">
          <img src="assets/images/flower.jpg" class="w-100 h-100" alt="" />
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-3 text-dark fs-5" style="background: rgb(255, 255, 255, 0.5)">
        WE Center
        恆慧中心肯定每一個個體的内在價值,致力於提升個體的整體素質,主要提供多元化課程,為個人/機構提升價值素質的培訓。
        本中心認為輕鬆自在的環境學習,更能認識個人本質,覺察內在法則,從而提升自我肯定的能力,發掘埋藏心性的永恆智慧。
        <br />
        WE Center.恆慧中心 深信永恒智慧是每一個「我 ME」都與生俱足的,每一個「我 ME」也藴含豐富的智慧累積,屬於每一個「我
        ME」內在最珍貴的寶藏。 正好是通過不同的「我 ME」身上覺察彼此 ~ 你就是我,我就是你,以每一個體的「我
        ME」來成就整體的「我們 WE」。 We Center.恆慧中心 不屬於某個人中心,是「我們
        WE」大家的中心,歡迎你加入這大家庭,共同學習;一起成長,並相互勉勵,讓永恒智慧在「我們 WE」的生命中綻放!!!
      </div>
    </div>
  </div>
</div>
