<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WeCenter</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li ng-repeat="item in menu" class="nav-item">
          <a ng-click="scrollTo(item.id)" href="#" class="nav-link fs-5">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <div class="my-auto container">
    <a href="/"><img src="./assets/images/centerLocal.PNG" class="w-100 h-100" alt="" /></a>
  </div>
</div>
